<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
!pip install pandas
!pip install requests
!pip install bs4
!pip install html5lib 
!pip install lxml
!pip install plotly

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (2023.5.7)
Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (4.9.2)
Requirement already satisfied: plotly in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (5.14.1)
Requirement already satisfied: tenacity>=6.2.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from plotly) (23.1)

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

Download the webpage at the url

In [10]:
#your code goes here
data  = requests.get(url).text

Create a soup object

In [24]:
# Placeholder soup object (replace this with your actual BeautifulSoup object)
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"
data  = requests.get(url).text

beautiful_soup = BeautifulSoup(data, 'html.parser')  # actual HTML string

# Initialize the DataFrame with column headers
columns = ["No", "Language", "Created By", "Average Annual Salary", "Learning Difficulty"]
data = pd.DataFrame(columns=columns)

# Find the table body
table_body = soup.find("tbody")

# Loop through rows in the table body
for row in table_body.find_all("tr"):
    col = row.find_all("td")
    No = col[0].text.strip()
    Language = col[1].text.strip()
    Created_By = col[2].text.strip()
    Average_Annual_Salary = col[3].text.strip()
    Learning_Difficulty = col[4].text.strip() if len(col) > 4 else None

    # Append row data to the DataFrame
    data = pd.concat([
        data,
        pd.DataFrame({
            "No": [No], "Language": [Language], "Created By": [Created_By],
            "Average Annual Salary": [Average_Annual_Salary],
            "Learning Difficulty": [Learning_Difficulty]
        })
    ], ignore_index=True)

# Print the resulting DataFrame
data.head()

,No,Language,Created By,Average Annual Salary,Learning Difficulty
0,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy

In [15]:
data.head

,No,Language,Created By,Average Annual Salary,Learning Difficulty
0,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy

Scrape the `Language name` and `annual average salary`.
print([["Language", "Average]])

In [100]:
# Sample data

# Select columns by index (e.g., column 1 and 3) - Python is 0-indexed
selected_columns = salary_data.iloc[:, [1, 3]]  # 2- second column, 4 = fourth column

# Print the result
print(selected_columns)

      Language  Average Annual Salary
0     Language  Average Annual Salary
1       Python               $114,383
2         Java               $101,013
3            R                $92,037
4   Javascript               $110,981
5        Swift               $130,801
6          C++               $113,865
7           C#                $88,726
8          PHP                $84,727
9          SQL                $84,793
10          Go                $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [25]:
# your code goes here
data.to_csv("popular-languages.csv", index=False)
print("Data has been written to popular-languages.csv")

Data has been written to popular-languages.csv

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).